
<div >

  <mat-horizontal-stepper  linear=false #stepper>
    <mat-step  [stepControl]="myFormInfo" errorMessage="Informacje są wymagane.">
      <form [formGroup]="myFormInfo">
        <ng-template matStepLabel>Podstawowe informacje</ng-template>
        <div >
          <mat-grid-list cols=1 rowHeight="100px">
            <mat-grid-tile rowSpan="1" colSpan="1">
              <div style="display: flex; flex-direction: row; justify-content: space-evenly; width:100%">
              <mat-form-field>
          <mat-label>Nazwa</mat-label>
          <input matInput formControlName="nazwa" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Termin</mat-label>
                <input matInput [min]="minDate"  [matDatepicker]="picker" formControlName="termin" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
        </mat-grid-tile>
        <mat-grid-tile rowSpan="1" colSpan="1">
          <div style="display: flex; flex-direction: row; justify-content: space-evenly; width:100%">
          <mat-form-field>
      <mat-label>Miejsce</mat-label>
      <input matInput formControlName="miejsce"  required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Współrzędne</mat-label>
            <input  matInput autocomplete="off"  formControlName="wspe" required>
          </mat-form-field>
    </div>
    </mat-grid-tile>
    <mat-grid-tile rowSpan="1" colSpan="1">
      <div style="display: flex; flex-direction: row; justify-content: space-evenly; width:100%">
      <mat-form-field>
  <mat-select formControlName='rodzaj' required>
    <mat-option value="CQB">CQB</mat-option>
    <mat-option value="Las">Las</mat-option>
    <mat-option value="Mieszane">Mieszane</mat-option>
  </mat-select>
  <mat-label>Rodzaj</mat-label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Opłata</mat-label>
        <input type=number matInput autocomplete="off" formControlName='oplata'>
      </mat-form-field>
</div>
</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div>
        <button  mat-raised-button color="accent" (click)="markTouchedInfo(stepper)" style="float:right;">Dalej</button>
      </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="FormFractions" errorMessage="Trzeba wprowadzić dane przynajmniej jednej grupy.">
      <ng-template matStepLabel>Oddziały</ng-template>

      <form [formGroup]="FormFractions">
    <div formArrayName="frakcje">
      <div *ngFor="let frakcja of frakcjeForm.controls; let i=index; "  [formGroupName]="i" >
        <div style="display: flex; flex-direction: row;  justify-content: space-evenly; width:50%; margin: auto;">
             <mat-form-field >
                 <input matInput placeholder="Nazwa frakcji" formControlName='strona' required>
              </mat-form-field>
              <p style="float: left" >Liczba zapisanych: {{getZapisani(i)}}</p>
             <mat-form-field >
                <input matInput type=number  placeholder="Liczba miejsc" formControlName='wielkosc' required>
             </mat-form-field>

         </div>
    </div>
    <button mat-icon-button (click)="addFraction()" style="margin-left: 45%; margin-top: 15px;"><mat-icon color="accent" style="float:right;">add_circle</mat-icon></button>
    </div>
  </form>
  <div>
    <button  mat-raised-button color="accent" matStepperPrevious style="float:right;">Wróć</button>
    <button  mat-raised-button color="accent" (click)="markTouchedFractions(stepper)" style="float:right;">Dalej</button>
  </div>
</mat-step>
    <mat-step [stepControl]="myFormLimits" errorMessage="Informacje są wymagane.">
      <ng-template matStepLabel>Limity FPS</ng-template>
      <form [formGroup]="myFormLimits">
        <div formArrayName="limity">
          <div *ngFor="let limit of limity.controls; let i=index;" [formGroupName]="i" >
            <div style="display: flex; flex-direction: row; justify-content: space-evenly; width:100%">
                <mat-form-field>
                  <input matInput type=number placeholder={{replicas[i]}} formControlName="limit" >
                  <span matSuffix>FPS</span>
                </mat-form-field>

             </div>
        </div>

        </div>
      </form>
      <div >
        <button  mat-raised-button color="accent" matStepperPrevious style="float:right;">Wróć</button>
        <button  mat-raised-button color="accent" (click)="markTouchedLimits(stepper)" style="float:right;">Dalej</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="myFormDescirption" errorMessage="Dodaj opis wydarzenia.">
      <ng-template matStepLabel>Opis</ng-template>
      <form [formGroup]="myFormDescirption">
        <mat-form-field style="width: 100%;">
          <textarea matInput type=text placeholder="Opis wydarzenia" formControlName="opis" style="min-height: 150px; width: 100%;">
            </textarea>
        </mat-form-field>
      </form>
      <div>
        <button  mat-raised-button color="accent" matStepperPrevious style="float:right;">Wróć</button>
        <button mat-raised-button color="accent" type="submit" (click)="submit()" style="float:right;">Zapisz</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
