<div class="contentBorder">
  <div class='map_div'>
    <div id='map_loc'>
    </div>
    <div id="menu">
      <h3>Dodaj lokację</h3>
      <div  class="lokacjeForm">
      <form [formGroup]="locationForm">
          <mat-form-field style=" width: 100%; margin: auto;" >
            <mat-label>Nazwa</mat-label>
            <input matInput formControlName="nazwa">
          </mat-form-field>
          <mat-form-field style=" width: 100%; margin: auto;">
            <mat-label>Adres</mat-label>
            <input matInput formControlName="adres">
          </mat-form-field>
          <mat-form-field style=" width: 100%; margin: auto;">
            <mat-label>Współrzędne</mat-label>
            <input  matInput autocomplete="off"  formControlName="wspe">
          </mat-form-field>
          <mat-form-field style=" width: 100%; margin: auto; ">
            <mat-label>Opis</mat-label>
            <textarea matInput  autocomplete="off" style="min-height: 150px;"  formControlName="opis"></textarea>
          </mat-form-field>
      </form>
      </div>
      <button mat-raised-button color="accent" type="submit" (click)="submit()">Zapisz</button>
    </div>
    <mat-icon id="addicon" color="accent" class="iconSize" >add_location_alt</mat-icon>

  </div>
</div>
