

@import '~@angular/material/theming';

@mixin loc-theme($theme) {
  $primary: map-get($theme,primary);
  $accent: map-get($theme, accent);
  $warn:map-get($theme,warn);


  .ol-control button{
    background-color: mat-color($accent);
  }
 .ol-control button:hover{
    background-color: mat-color($accent);
    cursor: pointer;

  }
  .ol-control:active{
    border-style: none;
  }
  .toggle.ol-control button{
    background-color: transparent;
  }

  .iconSize:active{
    color: mat-color($accent, A400);
  }
  .iconSize:hover{
    color: mat-color($accent, A400);
  }


}

.mymenu{
  width: 30%;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 5px #000;
  padding: 0.5em;
}

.toggle{
  left: 8px;
  top:8px;
  background-color: transparent !IMPORTANT;
}
.dark-theme .toggle {
  background-color: transparent;
}
.toggle:hover{
  background-color: transparent;
}

#map_loc {

  height:80vh;
  width: 100%;
  margin-top: 4%;


}
.map-div{
  width: auto;
  height: auto;
  margin: auto;

}
.ol-zoom{
  left:auto;
  right:8px;
}


.toggle.ol-control button:hover{
  background-color: transparent;
}
.iconSize{
  transform: scale(2);
  margin-left:8px;
  margin-top:8px;
}

.lokacjeForm{
  width: 100%;
  min-height: fit-content;
  align-content: center;
}
