@import '~@angular/material/theming';

@mixin eq-theme($theme) {
  $primary: map-get($theme,primary);
  $accent: map-get($theme, accent);
  $warn:map-get($theme,warn);
  $foreground: map-get($theme,foreground);
  $background: map-get($theme,background);


}
.mat-tab-label {
  height: 48px;
  padding: 2% !IMPORTANT;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: fit-content !IMPORTANT;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  margin: 0px !IMPORTANT;
}
.mat-tab-header-pagination{
  display: none !IMPORTANT;
}
.mat-tab-labels{
  justify-content: space-evenly;
  min-width: fit-content;
}
.mat-tab-label-container{
  min-width: fit-content;
}
.sideNav{
  display: inline-block;
   height: 95vh;
    width: 20%;

}


