
@import '~@angular/material/theming';

@mixin event-theme($theme) {
  $primary: map-get($theme,primary);
  $accent: map-get($theme, accent);
  $warn:map-get($theme,warn);

  .contentBorder{
    width: 85%;
    margin-bottom: 5%;
    margin:auto;
    border-radius: 5px;
    box-shadow:0 0 5px mat-color($accent);
    height: fit-content;
  }

}




#map {
  padding-top: 10px;
  height:600px;
  width: 90%;
  margin:auto;
  margin-top:3%;

}
map-div{
  width: auto;
  height: auto;
    min-height: 100% !important;
}
.mat-tab-group {
  margin-bottom: 48px;
  width:100%;
  margin:auto;
  height: fit-content;
  margin-top:3%;
}
.ol-popup {
  max-width:300px;
  min-width:100px;
  min-height:1em;
}

.tab-div{
  width: 90%;
  margin:auto;
  min-height: fit-content;

}
.event-info-display{

min-height: 600px;
}

.event-title{
font-size: 36px;
min-height: 50px;
padding-top: 50px;
padding-left: 0px;
line-height: 100%;
height: fit-content;
padding-left: 0px;
margin:auto;
margin-bottom:0px;
flex-basis:100%;
text-align: center;
}

.event-essential{
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  height:70px;

  margin:auto;
  margin-top:30px;
  padding-left: 0px;
  flex-basis:100%;
  font-size: 22px;
  justify-content: space-between;
}
.event-essential .h2{
  font-size:28px;
}
.event-factions{

  min-width:40%;
  height: 100%;
}
.event-limits{

  min-height: 100%;
  width:40%;

}
.event-description{
  flex-basis:100%;
  display: flex;
  flex-direction: row;
  min-height: 150px;
  justify-content: flex-start;
  padding-left: 0px;
  font-size:18px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 18px;
}
.event-all-info{
display:flex;
flex-direction: row;
justify-content: space-between;
flex-wrap:wrap;
padding-top: 50px;
padding-left: 0px;
}
canvas{
  width: 100% !IMPORTANT;
}

