@import '~@angular/material/theming';

@mixin nav-theme($theme) {
  $primary: map-get($theme,primary);
  $accent: map-get($theme, accent);
  $warn:map-get($theme,warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme,background);

  h1:hover{
    text-decoration: none;
    cursor: pointer;
    color:mat-color($accent);
  }
  a:hover{
    color:mat-color($accent) !IMPORTANT;
  }
  a:active{
      color: mat-color($foreground,text);
  }
  a:visited{
    color: mat-color($foreground, text);
  }
  #name{
    color:mat-color($foreground, text);
  }
  .mat-icon:hover{
    color:mat-color($accent) !IMPORTANT;
  }
  a{
    display: inline;
    color:mat-color($foreground, text) !important;
    margin-top:auto;
    margin-bottom: auto;
    text-align: center;
    align-items: center;
    height: 100%;
    padding-right: 16px;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    border-style: none;
  }
}
h1 {
  display: inline;
  margin-top:auto;
  margin-bottom: auto;
  text-align: center;
  align-items: center;
  height: 100%;
  padding-right: 16px;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
  border-style: none;
}
a{
  display: inline;
  margin-top:auto;
  margin-bottom: auto;
  text-align: center;
  align-items: center;
  height: 100%;
  padding-right: 16px;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
  border-style: none;
}


.outer{
  display: flex; flex-direction: row; justify-content: space-evenly;  width:100%; height: 100%;
}
.inner {
  display: flex; flex-direction: row; justify-content: flex-start;  width:50%; margin-top: auto; margin-bottom: auto; margin-right: 0px; margin-left: 0px;
}
.innerEnd {
  display: flex; flex-direction: row; justify-content: flex-end;  width:50%; margin-top: auto; margin-bottom: auto; margin-right: 0px; margin-left: 0px;
}


.mat-toolbar-row {
padding:0px;
width:100%;
display: inline-block;
vertical-align: middle;
align-content: center;
}


 mat-icon:hover{
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}
