<mat-toolbar>
<mat-toolbar-row>

<button mat-stroked-button color="accent" [routerLink]="['map']">{{map}}</button>
<button mat-stroked-button color="accent" [routerLink]="['events']">{{events}}</button>
<button mat-stroked-button color="accent" (click)="location()" >{{locations}}</button>
<button mat-stroked-button color="accent" [routerLink]="['eq']">{{eq}}</button>
<div stye="display: in-line" *ngIf="user==null; then thenBlock else elseBlock"></div>
 <ng-template #thenBlock> <button mat-stroked-button color="accent" (click)="loginFunc()">{{login}}</button></ng-template>
 <ng-template #elseBlock> <button mat-stroked-button color="accent">{{user.name}}</button></ng-template>
</mat-toolbar-row>
</mat-toolbar>
